<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

<h1><%= @student.name %></h1>

<table border="1">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Turned In?</th>
      <th>Score</th>
      <th>Adjusted Score</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |a| %>
      <tr>
        <td><a href="/assignments/<%= a.id %>"><%= a.title %></a></td>
        <td><%= @student.turned_in_assignment?(a) %></td>
         <td><%= @student.grade_for_assignment(a) %></td>
         <td><%= @student.adjusted_grade_for_assignment(a) %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>