<a href="/">Back</a>

<h1><%= @assignment.title %></h1>

<p>Assignment Difficulty: <strong><%= @assignment.difficulty %></strong></p>

<h2>List of Students That Have Turned In This Assignment:</h2>

<table border="1">
  <thead>
    <tr>
      <th>Student</th>
      <th>Score</th>
      <th>Adjusted Score</th>
    </tr>
  </thead>

  <tbody>
    <% @assignment.students.each do |s| %>
      <tr>
        <td><a href="/students/<%= s.id %>"><%= s.name %></a></td>
        <td><%= s.grade_for_assignment(@assignment) %></td>
        <td><%= s.adjusted_grade_for_assignment(@assignment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
